body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3505 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:33px;
  width:591px;
  height:215px;
}
#u3506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u3506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:292px;
  word-wrap:break-word;
}
#u3507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u3507 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:295px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u3508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u3508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:296px;
  height:58px;
}
#u3508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  word-wrap:break-word;
}
#u3509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:58px;
}
#u3509 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:30px;
  width:295px;
  height:58px;
  text-align:left;
}
#u3509_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:273px;
  word-wrap:break-word;
}
#u3510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:127px;
}
#u3510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:296px;
  height:127px;
}
#u3510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:292px;
  word-wrap:break-word;
}
#u3511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:127px;
}
#u3511 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:88px;
  width:295px;
  height:127px;
  text-align:left;
}
#u3511_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:273px;
  word-wrap:break-word;
}
